<div class="container text-center">
  <div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <h4> <%= @post.title %> </h4>
            <h6> <%= @post.author %> </h6>
            <p> <%= @post.content %> </p>
            <p> <%= @post.created_at %> </p>
        </div>
    </div>
  </div>
  <div class="row justify-content-center">
        <div class="col-md-6">
            <table class="table">
            <thead>
            <tr>
                <th scope="col">Author</th>
                <th scope="col">Comment</th>
                <th scope="col">Date</th>
            </tr>
            </thead>
            <tbody>
            <% @post.comments.each do |comment| %>    
                <tr> 
                <td> <%= comment.author %> </td>
                <td> <%= comment.content %> </td>
                <td> <%= comment.created_at %> </td>
                </tr>
            <% end %>
            </tbody>
            </table>
        </div>
    </div>
</div>
